.App {
  text-align: center;
}

.App-logo {
  animation: rx.jpeg infinite 20s linear;
  background: url('rx.jpeg');
  height: 80px;
}

.Navpills {
  background-color: blue;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header {
  background-color: blue;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes rx.jpeg {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav nav-tabs {
  font-size: 140px;
}

/* unvisited link */
a:link {
    color: purple;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

